<div class="W100 in">

  <span class="W5 left minH in left "></span>
  
  <span class="W90 minH in left  center">

    <span  class="W100 left minH bl center">

      <a href="<%= @a ? "/comics/#{@a.id}" : '#' %>">
        <img src="/assets/b1.png " class="belt left " style="min-width: 22.6%; width: 22.6%; max-width: 22.6%;">
        <img src="/assets/b2.png " class="belt left " style="min-width: 12.8%; width: 12.8%; max-width: 12.8%;">
      </a>

      <img src="/assets/b3.png " class="belt left " style="min-width: 31.4%; width: 31.4%; max-width: 31.4%;">

      <a href="<%= @b ? "/comics/#{@b.id}" : '#' %>">
        <img src="/assets/b4.png " class="belt left " style="min-width: 13.4%; width: 13.4%; max-width: 13.4%;">
        <img src="/assets/b5.png " class="belt left " style="min-width: 19.8%; width: 19.8%; max-width: 19.8%;">
      </a>

    </span>
  </span>

  <span class="W5 left minH in left "></span>

</div>