

<div class="W100">
  <div class='bord'>

    <span class='W33 minH in'></span>

    <span class='W33 minH in'>
      <span class='minH Bwhite pad05 bl'><h1 class="font48 fSig black W100 center">Close Encounters</h1></span>
    </span>

    <span class='W33 minH in'></span>
  </div>
</div>

<div class="W100 minH20 Bblack up20 rel o20">
</div>

<div class="W100 left">
  <span class='left W10 in minH'>
  </span>

  <span class='left W80 in minH'>

    <div class="W100 in left">

      <span class="W5 left minH in"></span>
      <span class="W45 left minH in">
        <img class='W100 bordBlack  blob' src='/assets/dcyclops.jpg'>
      </span>
      <span class="W5 left minH in">
      </span>
      <span class="W40 left minH in">
        Chillin' with D.W Cycloptopuss
      </span>

      <span class="W5 left minH in"></span>

    </div>

    <div class="W100 minH20 left in"></div>

    <div class="W100 in left">

      <span class="W5 left minH in"></span>
      <span class="W45 left minH in">
        Lookin' like a dork with the Addiction FKA Bad Influence.
      </span>
      <span class="W5 left minH in">
      </span>
      <span class="W40 left minH in">
        <img class='W100 bordBlack  blob' src='/assets/addiction.jpg'>
      </span>

      <span class="W5 left minH in"></span>
    </div>    
    
    <div class="W100 minH20 left in"></div>

    <div class="W100 in left">

      <span class="W5 left minH in"></span>
      
      <span class="W40 left minH in">
        <img class='W100 bordBlack  blob' src='/assets/lez.jpg'>
      </span>

      <span class="W5 left minH in">
      </span>
      <span class="W45 left minH in">
        Amazing Quarmac sketch from Raul Gonzalez lll! Whaaaat...
      </span>
      
      <span class="W5 left minH in"></span>
    </div>    
    

    <div class="W100 minH20 left in"></div>
    <div class="W100 minH20 left in"></div>

    
  </span>

  <span class='left W10 in minH'>
  </span>
</div>


