<span class="W70 minH in left white Btan">
  <div class="W100">
    <div class='bord'>

      <span class='W33 minH in'></span>

      <span class='W33 minH in'>
        <span class='minH Bwhite pad05 bl'><h1 class="font48 fSig black W100 center">Contax, Lord Of Speech</h1></span>
      </span>

      <span class='W33 minH in'></span>
    </div>
  </div>

  <div class="W100 minH20 Bblack up20 rel o20">
  </div>

  <div class="W100 left">
    <span class='left W10 in minH'>
    </span>

    <span class='left W80 in minH'>

      <div class="W100 in">

        <span class="W15 left minH in"></span>
        <span class="W70 left minH in font18">
        <img class="bord" src="/assets/max.jpg"><br>
          By Max W<br>
          <a href="https://twitter.com/mayhemchampion">@mayhemchampion</a><br>
          <a mailto="mayhemchampion@gmail.com">Email Us</a><br>
          <br><br><br>


        </span>
        <span class="W15 left minH in"></span>
      </div>
      
      
    </span>

    <span class='left W10 in minH'>
    </span>
  </div>

</span>
