
<div class='width100'></div>


<div class="width20">
	
</div>

<div class="width20">
<span class='bl'><b>@classydame446 :: </b>I just love how *CLASSY* this is!</span>
<span class='bl'><b>@freddyblassy :: </b>Huh?</span>
	
</div>

<div class="width40">
	<h1><%= @comic.title %></h1>

	<%= image_tag('clouds.jpg') %>

	<a><%= @comic.desc %></a>
</div>

<div class="width20">
	

</div>
