<span class="blob Bblob white bl pad5">
  <%= form_tag(auth_comics_path, method: :post) do %>
    <span class='Byell black pad05'>
      <%= text_field_tag :pass %>
    </span>
    <br>
    <%= submit_tag "Login"  %>
  <% end %>

  <% if @sess %>
    <%= link_to "Log Out", logout_comics_path(@sess) %>
  <% end %>

</span>

