<span class="blob Bblob white bl pad5">
  <%= form_for :login do |f| %>
    <span class='Byell black pad05'>
      <%= f.label :pass, "Password" %>
      <%= f.text_field :pass %>
    </span>
    <br>
    <%= f.submit "Login"  %>
  <% end %>
</span>
