

  <div class="W100">
    <div class='bord'>

      <span class='W33 minH in'></span>

      <span class='W33 minH in'>
        <span class='minH Bwhite pad05 bl'><h1 class="font48 fSig black W100 center">The Story So Far...</h1></span>
      </span>

      <span class='W33 minH in'></span>
    </div>
  </div>

  <div class="W100 minH20 Bblack up20 rel o20">
  </div>

  <div class="W100 left">
    <span class='left W10 in minH'>
    </span>

    <span class='left W80 in minH'>

      <div class="W100 in">

        <span class="W5 left minH in"></span>
        <span class="W90 left minH in">

          <div class="W100 minH20 left in"></div>
          <div class="W100 minH20 left in"></div>

          <div class="W100 in">
            <span class='W45 in left vert'>
              
              <span class="Bblack blob P2 inb">
                <span class=" round Blttan inb P2">
                  In the deep, dark depths of the galaxy exists Venuu, the mightiest entertainment nexus in all of universe! Home of the Galactic Wrestling Federation, Venuu broadcasts their pugilistic glory for the whole of existence to enjoy…
                </span>
              </span>
            </span>
            <span class='left W10 minH'></span>

            <span class='W45 left in'><img class='W90 bordBlack blob' src='/assets/close1.jpg'></span>
          </div>

    <div class="W100 minH20 left in"></div>


          <div class="W100 in">
            <span class='W45 left in '><img class='W90 bordBlack blob'src='/assets/close2.jpg'></span>


            <span class='W45 in right vert'>

              <span class="Bblack blob P2 inb">
                <span class="round Blttan inb P2">
                  For some though, the sanctioned rules and regulations of the GWF have no place in the world of galactic professional wrestling. For those fans, there is <u>MAYHEM DIVISION</u>, a branch of the GWF where the rules come second to the savagery…
                </span>
              </span>

            </span>

            <span class='W10 left minH'></span>
          </div>

          <div class="W100 minH20 left in"></div>


          <div class='W100 minH20 minH'></div>

          <div class="W100 in">

            <span class='W100 in  vert'>

              <span class="Bblack blob P2 inb">
                <span class="round Blttan inb P2">
                  Stationed on the orbiting planetoid Combaxxess, Mayhem Division wrestlers challenge each other for gold, glory and good ol’ fashioned bragging rights. The mightiest and longest reigning Mayhem Champion, Quarmac has time and again proven his dominance. Little does he realize that he has made some powerful enemies within Mayhem Division…
                </span>
              </span>

            </span>

          </div>

          <div class='W100 minH20 minH'></div>

          <div class='W100 in'>
            
            <span class='W10 left in minH'></span>

            <span class='W80 left in'><img class='W100 bordBlack  blob' src='/assets/close3.jpg'></span>
            
            <span class='W10 left in minH'></span>

          </div>
        </span>

        <span class="W5 left minH20 in"></span>
      </div>
      
    <div class="W100 minH20 left in"></div>
    <div class="W100 minH20 left in"></div>
      
    </span>

    <span class='left W10 in minH'>
    </span>
  </div>

