<br>
<div class="font18 white">
  <% @tags.each do |tag| %>
    <div class="white bl mar10LR">
      <%= link_to tag.word, tag_path(tag),{class: 'Bblob blob pad2'} %><br><br>
    </div>
  <% end %>
</div>