<div class="Btan white">
  <% @comics.each do |comic| %>
    <div class='Byell Bblobdiv'>
      <%= link_to comic.title, comic, {class: 'blob Bblob'} %><br>
      <%= image_tag(comic.img, class: 'W5' ) %>
    </div>
    <br>
  <% end %>

</div>