<% @news.each do |newsie| %>
  <div class="W100">
    <div class='P1pt5 lttan Bwhite'>
      <h1 class="bold black font18 pad05"><%= newsie.title %></h1>
    </div>
  </div>

  <div class="W100">
    <div class='P2 lttan white'>
      <span class="white fBodies pad05"><%= newsie.body %></span><br>
      <hr>
      <span class="white font10"><%= newsie.format_time %></span>
    </div>
  </div>
<% end %>