/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #FF0000;
}

a:visited {
	color: #000000;
}
/*widths heights*/

.W5 {
	min-width: 5%;
	width: 5%;
	max-width: 5%;
}

.W10 {
	min-width: 10%;
	width: 10%;
	max-width: 10%;
}

.W20 {
	min-width: 20%;
	width: 20%;
	max-width: 20%;
}

.W25 {
	min-width: 25%;
	width: 25%;
	max-width: 25%;
}

.W30 {
	min-width: 30%;
	width: 30%;
	max-width: 30%;
}

.W40 {
	min-width: 40%;
	width: 40%;
	max-width: 40%;
}

.W60 {
	min-width: 60%;
	width: 60%;
	max-width: 60%;
}

.W60 {
	min-width: 60%;
	width: 60%;
	max-width: 60%;
}

.W70 {
	min-width: 70%;
	width: 70%;
	max-width: 70%;
}

.W80 {
	min-width: 80%;
	width: 80%;
	max-width: 80%;
}

.W100 {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
}

.H50 {
	min-height: 50%;
	height: 50%;
	max-height: 50%;
}

.H100 {
	min-height: 100%;
	height: 100%;
	max-height: 100%;
}

/* pos */

.left {
	float: left;
}

.minH {
	min-width: 1px;
	min-height: 1px;
}

.bl {
	display: block;
}

.inb {
	display: inline-block !important;
}

.in {
	display: inline !important;
}

.rel {
	position: relative;
}

.abs {
	position: absolute;
}

/* colors */

body {
	background-color: #000000;
}

.black {
	color: #000000;
}

.white {
	color: #FFFFFF;
}

.tan {
	color: #C28827;
}

.lttan {
	color: #DD9927;
}

.Bblack {
	background-color: #000000;
}

.Btan {
	background-color: #C28827;
}

.Blttan {
	background-color: #DD9927;
}

/*fonts*/

.font10 {
	font-size: 10px;
}

.font18 {
	font-size: 18px;
}

.font24 {
	font-size: 24px;
}

.bold {
	font-weight: bold;
}

/* pad marg */

.pad0 {
	margin: -12px !important;
}

.pad05 {
	padding: 0.5%;
}

.pad5 {
	padding: 5%;
}

.npad5 {
	padding: -5%;
}

.marg0 {
	margin: 0px;
}

/*border*/

.bord {
	border: 4px solid #DD9927;
}

/* specifics */


.comButton {
	text-decoration: none;
}