<!DOCTYPE html>
<html>
<head>
  <title>Maxsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="W100 in left">
		<div class="W20 minH in left"> </div>
		<div class="W60 in left">
			<h1 class="white font24 in left">Mayhem Champion by Max W</h1>
		</div>
		<div class="W20 minH in left"></div>

	</div>

<%= yield %>

</body>
</html>
